/inputs/train
/checkpoints
/outputs
mlruns/
mlflow.db
mlflow.db.bak-*
__pycache__
*.pt
*.pth
*.ckpt
*.onnx
tmp*.ipynb
.ipynb_checkpoints/
/*.ipynb
val_infer_dice.py
kaggle_weights/
fork-of-best-public-kernel-ef10e0.ipynb

/notes/
reference_pipeline/

# Datasets / archives
uw-madison-gi-tract-image-segmentation.zip

# Keep only minimal configs tracked
/configs/*.yaml
!/configs/train_unet3d.yaml
!/configs/infer_unet3d.yaml
